<%- include('includes/header') %>




   <main>

      <!-- hero area start -->
      <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
         <div class="hero__shape">
            <img class="circle" src="assets/img/icon/hero/hero-circle.png" alt="circle">
            <img class="circle-2" src="assets/img/icon/hero/hero-circle-2.png" alt="circle">
            <img class="square" src="assets/img/icon/hero/hero-square.png" alt="circle">
            <img class="square-2" src="assets/img/icon/hero/hero-square-2.png" alt="circle">
            <img class="dot" src="assets/img/icon/hero/hero-dot.png" alt="circle">
            <img class="triangle" src="assets/img/icon/hero/hero-triangle.png" alt="circle">
         </div>
         <div class="container">
            <div class="row">
               <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8"> -->
               <div class="hero__content">
                  <h2 class="hero__title">
                     <span>The world’s largest Marketplace</span>

                  </h2>
                  <p>The bee's knees pardon you plastered it's all gone to pot cheeky bugger wind up down.</p>
                  <div class="hero__search">
                     <form action="#">
                        <div class="hero__search-inner d-xl-flex">
                           <div class="hero__search-input">
                              <span><i class="far fa-search"></i></span>
                              <input type="text" placeholder="Search for products">
                           </div>
                           <button type="submit" class="m-btn ml-20"> <span></span> search</button>
                        </div>
                     </form>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-xxl-12">
                  <div class="product__more text-center mt-30">
                     <a href="product.html" class="m-btn m-btn-2"> <span></span> Explore Premium</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- product area end -->



      <!-- brand area start -->
      <div class="brand__area pb-15">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="brand__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                     <div class="brand__thumb">
                        <img src="assets/img/brand/brand-1.png" alt="">
                     </div>
                     <div class="brand__thumb">
                        <img src="assets/img/brand/brand-2.png" alt="">
                     </div>
                     <div class="brand__thumb">
                        <img src="assets/img/brand/brand-3.png" alt="">
                     </div>
                     <div class="brand__thumb">
                        <img src="assets/img/brand/brand-4.png" alt="">
                     </div>
                     <div class="brand__thumb">
                        <img src="assets/img/brand/brand-5.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- brand area end -->

      <!-- testimonial area start -->
      <div class="testimonial__area pt-50 pb-115 fix">
         <div class="container">
            <div class="testimonial__inner p-relative pb-110">
               <div class="testimonial__bg p-absolute">
                  <img src="assets/img/bg/testimonial-bg.png" alt="">
               </div>
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="testimonial__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-1.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Justin Case</h5>
                                 <span>@justin</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French
                                 up the duff cup of char bender fantastic arse.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-2.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Gunther Beard</h5>
                                 <span>@beard</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-3.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Joss Sticks</h5>
                                 <span>@sticks</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French
                                 up the duff cup of char bender fantastic arse.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-4.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Samuel Serif</h5>
                                 <span>@justin</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-2.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Shahnewaz Sakil</h5>
                                 <span>@Shahnewaz</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-3.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Joss Sticks</h5>
                                 <span>@sticks</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French
                                 up the duff cup of char bender fantastic arse.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-2.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Gunther Beard</h5>
                                 <span>@beard</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-4.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Samuel Serif</h5>
                                 <span>@justin</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                        <div class="testimonial__item white-bg">
                           <div class="testimonial__person d-flex mb-20">
                              <div class="testimonial__avater">
                                 <img src="assets/img/testimonial/testi-1.jpg" alt="">
                              </div>
                              <div class="testimonial__info ml-15">
                                 <h5>Samuel Serif</h5>
                                 <span>@justin</span>
                              </div>
                           </div>
                           <div class="testimonial__text">
                              <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie
                                 he nicked it what a load of rubbish pear shaped.!</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- testimonial area end -->


      <!-- banner area end -->
   </main>

   <%- include('includes/footer') %>