<%- include('includes/header') %>




   <main>
      <!-- category area start -->
      <section class="category__area pt-105 pb-135">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="section__title-wrapper text-center mb-60">
                     <h2 class="section__title">Browse <br> Popular Categories</h2>
                     <p>Find over our categories.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                  <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                     <div class="category__icon mb-25">
                        <a href="#"><img src="assets/img/categories/pc (2).jpg" alt=""></a>
                     </div>
                     <div class="category__content">
                        <h3 class="category__title">
                           <a href="product.html">Computers</a>
                        </h3>
                        <a href="product.html" class="link-btn">
                           <i class="far fa-long-arrow-right"></i>
                           Learn More
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                  <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                     <div class="category__icon mb-25">
                        <a href="#"><img src="assets/img/categories/phone.jpg" alt=""></a>
                     </div>
                     <div class="category__content">
                        <h3 class="category__title">
                           <a href="product.html"> Smartphones</a>
                        </h3>
                        <a href="product.html" class="link-btn">
                           <i class="far fa-long-arrow-right"></i>
                           Learn More
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                  <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                     <div class="category__icon mb-25">
                        <a href="#"><img src="assets/img/categories/electro (2).jpg" alt=""></a>
                     </div>
                     <div class="category__content">
                        <h3 class="category__title">
                           <a href="product.html">Electronics</a>
                        </h3>
                        <a href="product.html" class="link-btn">
                           <i class="far fa-long-arrow-right"></i>
                           Learn More
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                  <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".9s">
                     <div class="category__icon mb-25">
                        <a href="#"><img src="assets/img/categories/home (1).jpg" alt=""></a>
                     </div>
                     <div class="category__content">
                        <h3 class="category__title">
                           <a href="/products">Smart Home</a>
                        </h3>
                        <a href="/products" class="link-btn">
                           <i class="far fa-long-arrow-right"></i>
                           Learn More
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xxl-12">
                  <div class="category__more mt-30 text-center">
                     <a href="/categories" class="m-btn m-btn-2"> <span></span> View all categories</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- category area end -->
   </main>

   <%- include('includes/footer') %>