<%- include('includes/header') %>
      <!-- cart mini area start -->
      <div class="cartmini__area">
        <div class="cartmini__wrapper">
           <div class="cartmini__title">
              <h4>Shopping cart</h4>
           </div>
           <div class="cartmini__close">
              <button type="button" class="cartmini__close-btn"><i class="fal fa-times"></i></button>
           </div>
           <div class="cartmini__widget">
              <div class="cartmini__inner">
                 <ul>
                    <li>
                       <div class="cartmini__thumb">
                          <a href="product-details.html">
                          <img src="assets/img/product/sm/cart-5.jpg" alt="">
                          </a>
                       </div>
                       <div class="cartmini__content">
                          <h5><a href="product-details.html">Findup - Directory & Listing</a></h5>
                          <div class="product-quantity mt-10 mb-10">
                             <span class="cart-minus">-</span>
                             <input class="cart-input" type="text" value="1"/>
                             <span class="cart-plus">+</span>
                          </div>
                          <div class="product__sm-price-wrapper">
                             <span>2 <i class="fal fa-times"></i></span>
                             <span class="product__sm-price">$24.00</span>
                          </div>
                       </div>
                       <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                       <div class="cartmini__thumb">
                          <a href="product-details.html">
                          <img src="assets/img/product/sm/cart-2.jpg" alt="">
                          </a>
                       </div>
                       <div class="cartmini__content">
                          <h5><a href="product-details.html">TechBuzz - Businesses Agency</a></h5>
                          <div class="product-quantity mt-10 mb-10">
                             <span class="cart-minus">-</span>
                             <input class="cart-input" type="text" value="1"/>
                             <span class="cart-plus">+</span>
                          </div>
                          <div class="product__sm-price-wrapper">
                             <span>1 <i class="fal fa-times"></i></span>
                             <span class="product__sm-price">$17.00</span>
                          </div>
                       </div>
                       <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                       <div class="cartmini__thumb">
                          <a href="product-details.html">
                          <img src="assets/img/product/sm/cart-3.jpg" alt="">
                          </a>
                       </div>
                       <div class="cartmini__content">
                          <h5><a href="product-details.html">Zibber - Agency Template</a></h5>
                          <div class="product-quantity mt-10 mb-10">
                             <span class="cart-minus">-</span>
                             <input class="cart-input" type="text" value="1"/>
                             <span class="cart-plus">+</span>
                          </div>
                          <div class="product__sm-price-wrapper">
                             <span>5 <i class="fal fa-times"></i></span>
                             <span class="product__sm-price">$72.00</span>
                          </div>
                       </div>
                       <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                 </ul>
              </div>
              <div class="cartmini__checkout">
                 <div class="cartmini__checkout-title mb-30">
                    <h4>Subtotal:</h4>
                    <span>$113.00</span>
                 </div>
                 <div class="cartmini__checkout-btn">
                    <a href="cart.html" class="m-btn m-btn-border mb-10 w-100"> <span></span> view cart</a>
                    <a href="checkout.html" class="m-btn m-btn-3 w-100"> <span></span> checkout</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="body-overlay"></div>
     <!-- cart mini area end -->


     <!-- sidebar area start -->
     <div class="sidebar__area">
        <div class="sidebar__wrapper">
           <div class="sidebar__close">
              <button class="sidebar__close-btn" id="sidebar__close-btn">
              <span><i class="fal fa-times"></i></span>
              <span>close</span>
              </button>
           </div>
           <div class="sidebar__content">
              <div class="logo mb-40">
                 <a href="index.html">
                 <img src="assets/img/logo/logo-white.png" alt="logo">
                 </a>
              </div>
              <div class="mobile-menu"></div>
              <div class="sidebar__action mt-330">
                 <div class="sidebar__login mt-15">
                    
                    <a href="/login"><i class="far fa-unlock"></i> Log In</a>
                 </div>
                 <div class="sidebar__cart mt-20">
                    <a href="javascript:void(0);" class="cart-toggle-btn">
                       <i class="far fa-shopping-cart"></i>
                       <span>2</span>
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- sidebar area end -->      
     <div class="body-overlay"></div>
     <!-- sidebar area end -->


     <main>

        <!-- hero area start -->
        <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
           <div class="hero__shape">
              <img class="circle" src="assets/img/icon/hero/hero-circle.png" alt="circle">
              <img class="circle-2" src="assets/img/icon/hero/hero-circle-2.png" alt="circle">
              <img class="square" src="assets/img/icon/hero/hero-square.png" alt="circle">
              <img class="square-2" src="assets/img/icon/hero/hero-square-2.png" alt="circle">
              <img class="dot" src="assets/img/icon/hero/hero-dot.png" alt="circle">
              <img class="triangle" src="assets/img/icon/hero/hero-triangle.png" alt="circle">
           </div>
           <div class="container">
              <div class="row">
                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8">
                    <div class="hero__content">
                       <h2 class="hero__title">
                          <span>The world’s largest</span>
                          WordPress Themes
                          Collection.
                       </h2>
                       <p>The bee's knees pardon you plastered it's all gone to pot cheeky bugger wind up down.</p>
                       <div class="hero__search">
                          <form action="#">
                             <div class="hero__search-inner d-xl-flex">
                                <div class="hero__search-input">
                                   <span><i class="far fa-search"></i></span>
                                   <input type="text" placeholder="Search for templates">
                                </div>
                                <button type="submit" class="m-btn ml-20"> <span></span> search</button>
                             </div>
                          </form>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="hero__thumb-wrapper scene ml-70">
                       <div class="hero__thumb one d-none d-lg-block">
                          <img class="layer" data-depth="0.2" src="assets/img/hero/hero-1.jpg" alt="">
                       </div>
                       <div class="hero__thumb two">
                          <img class="layer" data-depth="0.3" src="assets/img/hero/hero-2.jpg" alt="">
                       </div>
                       <div class="hero__thumb three">
                          <img class="layer" data-depth="0.4" src="assets/img/hero/hero-3.jpg" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- hero area end -->

        <!-- category area start -->
        <section class="category__area pt-105 pb-135">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                       <h2 class="section__title">Browse <br> Popular Categories</h2>
                       <p>Find over 7000 website templates and themes.</p>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".3s" >
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/icon/catagory/cat-1.png" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">WordPress Themes</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/icon/catagory/cat-2.png" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">Site Templates</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/icon/catagory/cat-3.png" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">UI Templates</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
                    <div class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp" data-wow-delay=".9s">
                       <div class="category__icon mb-25">
                          <a href="#"><img src="assets/img/icon/catagory/cat-4.png" alt=""></a>
                       </div>
                       <div class="category__content">
                          <h3 class="category__title">
                             <a href="product.html">Digital Marketing</a>
                          </h3>
                          <a href="product.html" class="link-btn">
                          <i class="far fa-long-arrow-right"></i>
                          Learn More
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="category__more mt-30 text-center">
                       <a href="product.html" class="m-btn m-btn-2"> <span></span> View all categories</a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- category area end -->

        <!-- trending area start -->
        <section class="trending__area pt-110 pb-110 grey-bg">
           <div class="container">
              <div class="row align-items-end">
                 <div class="col-xxl-6 col-xl-6 col-lg col-md-8">
                    <div class="section__title-wrapper mb-50">
                       <h2 class="section__title">Trending <br> Landmark Themes</h2>
                       <p>Jeffrey pardon me jolly good.</p>
                    </div>
                 </div>
                 <div class="col-xxl-6 col-xl-6 col-lg col-md-4">
                    <div class="trending__more d-flex justify-content-md-end  mb-50">
                       <a href="product.html" class="m-btn m-btn-border"><span></span>Explore Cloneables</a>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                                <img src="assets/img/trending/tren-1.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Zibber WP Theme</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">Business</a>
                             </div>
                             <div class="trending__price">
                                <span>$39</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-2.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">React App Landing</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">Technology</a>
                             </div>
                             <div class="trending__price">
                                <span class="old-price">$29</span>
                                <span>$25</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-3.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Digital Marketing</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">marketing</a>
                             </div>
                             <div class="trending__price">
                                <span>$16</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-4.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Ad Manager Admin</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">software</a>
                             </div>
                             <div class="trending__price">
                                <span>$29</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-5.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">UI Template</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">UI kit</a>
                             </div>
                             <div class="trending__price">
                                <span>$44</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-6.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Email Template</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">manager</a>
                             </div>
                             <div class="trending__price">
                                <span>$14</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-7.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Multipurpose Store</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">marketing</a>
                             </div>
                             <div class="trending__price">
                                <span>$55</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-8.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Responsive Agency</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">agency</a>
                             </div>
                             <div class="trending__price">
                                <span>$22</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                    <div class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                       <div class="trending__thumb mr-25">
                          <div class="trending__thumb-inner fix">
                             <a href="product-details.html">
                             <img src="assets/img/trending/tren-9.jpg" alt="">
                             </a>
                          </div>
                       </div>
                       <div class="trending__content">
                          <h3 class="trending__title"><a href="product-details.html">Admin Dashboard</a></h3>
                          <p>Knees up arse blimey say happy days.</p>
                          <div class="trending__meta d-flex justify-content-between">
                             <div class="trending__tag">
                                <a href="#">application</a>
                             </div>
                             <div class="trending__price">
                                <span>$49</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- trending area end -->

        

        <!-- product area start -->
        <section class="product__area pt-105 pb-110 grey-bg-2">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                       <h2 class="section__title">Latest <br> Products</h2>
                    </div>
                 </div>
              </div>
              <div class="row">
                 
                    <% Produits.jData.forEach(function(produit) { %>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                               <div class="product__thumb-inner fix w-img">
                                  <a href="product-details.html">
                                  <img src="assets/img/product/product-1.jpg" alt="">
                                  </a>
                               </div>
                            </div>
                            <div class="product__content">
                               <div class="product__meta mb-10 d-flex justify-content-between align-items-center">
                                  <div class="product__tag">
                                     <a href="#"><%=produit.nomprod%></a>
                                  </div>
                                  <div class="product__price">
                                     <span>$49</span>
                                  </div>
                               </div>
                               <h3 class="product__title">
                                  <a href="product-details.html">Zibber - Business Consulting...</a>
                               </h3>
                               <p class="product__author">by <a href="#">Theme Pure</a> in <a href="#">Templates</a></p>
                            </div>
                         </div>
                          
                        </div>
                    <% }) %>
                 
                
              </div>
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="product__more text-center mt-30">
                       <a href="product.html" class="m-btn m-btn-2"> <span></span> Explore Premium</a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!-- product area end -->

       

        <!-- brand area start -->
        <div class="brand__area pb-15">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-12">
                    <div class="brand__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-1.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-2.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-3.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-4.png" alt="">
                       </div>
                       <div class="brand__thumb">
                          <img src="assets/img/brand/brand-5.png" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- brand area end -->

        <!-- testimonial area start -->
        <div class="testimonial__area pt-50 pb-115 fix">
           <div class="container">
              <div class="testimonial__inner p-relative pb-110">
                 <div class="testimonial__bg p-absolute">
                    <img src="assets/img/bg/testimonial-bg.png" alt="">
                 </div>
                 <div class="row">
                    <div class="col-xxl-12">
                       <div class="testimonial__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-1.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Justin Case</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Gunther Beard</h5>
                                   <span>@beard</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-3.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Joss Sticks</h5>
                                   <span>@sticks</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-4.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Shahnewaz Sakil</h5>
                                   <span>@Shahnewaz</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-3.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Joss Sticks</h5>
                                   <span>@sticks</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Tomfoolery chimney pot loo easy peasy twit he lost his bottle lavatory excuse my French up the duff cup of char bender fantastic  arse.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-2.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Gunther Beard</h5>
                                   <span>@beard</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-4.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                          <div class="testimonial__item white-bg">
                             <div class="testimonial__person d-flex mb-20">
                                <div class="testimonial__avater">
                                   <img src="assets/img/testimonial/testi-1.jpg" alt="">
                                </div>
                                <div class="testimonial__info ml-15">
                                   <h5>Samuel Serif</h5>
                                   <span>@justin</span>
                                </div>
                             </div>
                             <div class="testimonial__text">
                                <p>Loo crikey bubble and sque wind up zonked arg bargy pukka nancy boy grub bog no biggie he nicked it what a load of rubbish pear shaped.!</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- testimonial area end -->

        
        <!-- banner area end -->
     </main>

     <%- include('includes/footer') %>

