<%- include('includes/header') %>

<main>
   <%- include('includes/flash.ejs') %>
   <!-- bg shape area start -->
   <div class="bg-shape">
      <img src="assets/img/shape/shape-1.png" alt="">
   </div>
   <!-- bg shape area end -->

   <!-- sign up area start -->
   <section class="signup__area po-rel-z1 pt-100 pb-145">
      <div class="sign__shape">
         <img class="man-1" src="assets/img/icon/sign/man-3.png" alt="">
         <img class="man-2 man-22" src="assets/img/icon/sign/man-2.png" alt="">
         <img class="circle" src="assets/img/icon/sign/circle.png" alt="">
         <img class="zigzag" src="assets/img/icon/sign/zigzag.png" alt="">
         <img class="dot" src="assets/img/icon/sign/dot.png" alt="">
         <img class="bg" src="assets/img/icon/sign/sign-up.png" alt="">
         <img class="flower" src="assets/img/icon/sign/flower.png" alt="">
      </div>
      <div class="container">
         
         <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
               <div class="contact__wrapper  white-bg">
                  <div class="contact__form">
                     <form action="#">
                        <div class="row">
                           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>First Name</h5>
                                 <div class="contact__input">
                                    <input type="text" placeholder="First Name">
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>Last Name</h5>
                                 <div class="contact__input">
                                    <input type="text" placeholder="Last Name">
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>Email</h5>
                                 <div class="contact__input">
                                    <input type="text" placeholder="Email">
                                    <i class="fal fa-envelope"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>CIN</h5>
                                 <div class="contact__input">
                                    <input type="text" placeholder="CIN">
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>Phone</h5>
                                 <div class="contact__input">
                                    <input type="text" placeholder="Phone">
                                    <i class="fal fa-phone"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xxl-12">
                              <div class="contact__input-wrapper mb-25">
                                 <h5>Address</h5>
                                 <div class="contact__input textarea">
                                    <textarea placeholder="Address"></textarea>
                                    <i class="fal fa-comment"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xxl-12">
                              <button type="submit" class="m-btn m-btn-4"> <span></span> Save </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- sign up area end -->

</main>

 <%- include('includes/footer') %>